In [123]:
import numpy as np
import pandas as pd

rankings = pd.read_csv('./worldCupData/fifaRanking2020-10-06.csv', encoding='windows-1252')
matches = pd.read_csv('./worldCupData/results.csv', encoding='windows-1252')
groups = pd.read_csv('./worldCupData/Qatar2022-teams.csv')

In [124]:
rankings = rankings.replace({"IR Iran": "Iran"})
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])
matches['date'] = pd.to_datetime(matches['date'])

In [125]:
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,164,Belize,BLZ,110.0,92.0,-3,CONCACAF,2013-01-17
1,163,Hong Kong,HKG,111.0,112.0,0,AFC,2013-01-17
2,120,Kuwait,KUW,276.0,281.0,3,AFC,2013-01-17
3,153,Faroe Islands,FRO,151.0,151.0,0,UEFA,2013-01-17
4,152,Palestine,PLE,154.0,152.0,0,AFC,2013-01-17

In [126]:
avgRanking = rankings.groupby(['country_full']).mean()
avgRanking = avgRanking.sort_values('rank')[['rank']]
avgRanking.head()
# rankingScore = (AVG of 10 years ranking * 0.3 + Current Ranking * 0.7)

                  rank
country_full
Argentina     4.465347
Belgium       4.485149
Brazil        5.059406
Germany       5.980198
Portugal      6.425743

In [127]:
matches.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'country', 'neutral'],
      dtype='object')

In [149]:
matches.groupby(['home_team']).mean()['home_score']
matches.groupby(['away_team']).mean()['away_score']

away_team
??land Islands    0.500000
Abkhazia          1.111111
Afghanistan       1.657895
Albania           1.088889
Alderney          4.250000
                    ...
Ynys M??n         1.800000
Yorkshire         2.000000
Zambia            1.109589
Zanzibar          1.375000
Zimbabwe          1.118644
Name: home_score, Length: 278, dtype: float64

In [143]:
# Declare offense_score = home_score + away_score

AttributeError: 'list' object has no attribute 'groupby'