In [95]:
import numpy as np
import pandas as pd

rankings = pd.read_csv('./worldCupData/fifaRanking2020-10-06.csv', encoding='windows-1252')
matches = pd.read_csv('./worldCupData/results.csv', encoding='windows-1252')
groups = pd.read_csv('./worldCupData/Qatar2022-teams.csv')

In [96]:
rankings = rankings.replace({"IR Iran": "Iran"})
rankings = rankings.replace({"Korea Republic": "South Korea"})
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])
matches['date'] = pd.to_datetime(matches['date'])
matches = matches.replace({"United States": "USA"})

In [97]:
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,164,Belize,BLZ,110.0,92.0,-3,CONCACAF,2013-01-17
1,163,Hong Kong,HKG,111.0,112.0,0,AFC,2013-01-17
2,120,Kuwait,KUW,276.0,281.0,3,AFC,2013-01-17
3,153,Faroe Islands,FRO,151.0,151.0,0,UEFA,2013-01-17
4,152,Palestine,PLE,154.0,152.0,0,AFC,2013-01-17

In [121]:
avgRanking = rankings.groupby(['country_full']).mean()
avgRanking.head()
# rankingScore = (AVG of 10 years ranking * 0.3 + Current Ranking * 0.7)

                      rank  total_points  previous_points  rank_change
country_full
Afghanistan     146.207921    489.036634       488.006535    -0.297030
Albania          56.524752    872.045545       872.143465     0.029703
Algeria          37.930693   1003.953564      1006.695149     0.168317
American Samoa  190.396040    345.041980       345.039307    -0.049505
Andorra         173.128713    404.942178       403.623366    -0.524752

In [99]:
matches.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'country', 'neutral'],
      dtype='object')

In [100]:
# Different number of data
home_offense = matches.groupby(['home_team']).mean()['home_score'].fillna(0)
len(home_offense)

283

In [101]:
# Different number of data
away_offense = matches.groupby(['away_team']).mean()['away_score'].fillna(0)
len(away_offense)

278

Different number of data <br>
so extract countries which join the 2022 Qatar World Cup <br><br>
Countries: ['Senegal',
 'Qatar',
 'Netherlands',
 'Ecuador',
 'Iran',
 'England',
 'USA',
 'Wales',
 'Argentina',
 'Saudi Arabia',
 'Mexico',
 'Poland',
 'Denmark',
 'Tunisia',
 'France',
 'Australia',
 'Germany',
 'Japan',
 'Spain',
 'Costa Rica',
 'Morocco',
 'Croatia',
 'Belgium',
 'Canada',
 'Switzerland',
 'Cameroon',
 'Brazil',
 'Serbia',
 'Uruguay',
 'South Korea',
 'Portugal',
 'Ghana']

In [102]:
country_list = groups['Team'].values.tolist()
country_list = sorted(country_list)
# country_list

In [103]:
home = home_offense.to_frame().reset_index()
away = away_offense.to_frame().reset_index()

In [104]:
home = home[home['home_team'].isin(country_list)].reset_index()
home = home.drop(['index'], axis = 1)
# home

In [105]:
away = away[away['away_team'].isin(country_list)].reset_index()
away = away.drop(['index'], axis = 1)
# away

In [110]:
wc_score = pd.DataFrame()
wc_score['country_name'] = country_list
wc_score['offense_score'] = home['home_score'] + away['away_score']
# wc_score

In [120]:
avgRanking

                              rank
country_full
Argentina                 4.465347
Belgium                   4.485149
Brazil                    5.059406
Germany                   5.980198
Portugal                  6.425743
...                            ...
Somalia                 201.157143
Eritrea                 202.014286
British Virgin Islands  202.693069
San Marino              203.101266
Anguilla                207.984615

[219 rows x 1 columns]

In [116]:
len(avgRanking)
avgRanking = avgRanking[avgRanking['country_full'].isin(country_list)].reset_index()
avgRanking = avgRanking.drop(['index'], axis = 1)

KeyError: 'country_full'

In [112]:
curRank = rankings[rankings['country_full'].isin(country_list)]
curRank = curRank.loc[curRank['rank_date'] == '2022-10-06'][['country_full', 'rank']]
curRank = curRank.sort_values('country_full')
wc_score['current_rank']= curRank['rank'].values.tolist()
#wc_score['avgRankfor10years'] = avgRanking['rank'].values.tolist()
wc_score

    country_name  offense_score  current_rank
0      Argentina       3.688824             3
1      Australia       3.612745            38
2        Belgium       4.848039             2
3         Brazil       4.365160             1
4       Cameroon       2.226919            43
5         Canada       3.757907            41
6     Costa Rica       2.386667            31
7        Croatia       3.473387            12
8        Denmark       3.614035            10
9        Ecuador       2.962175            44
10       England       4.075070             5
11        France       3.817937             4
12       Germany       4.653774            11
13         Ghana       2.924964            61
14          Iran       3.927692            20
15         Japan       3.724844            24
16        Mexico       3.094656            13
17       Morocco       3.083142            22
18   Netherlands       4.182051             8
19        Poland       3.738817            26
20      Portugal       4.001604             9
21         Qatar       3.226190            50
22  Saudi Arabia       3.045667            51
23       Senegal       3.008301            18
24        Serbia       3.354545            21
25   South Korea       2.900780            28
26         Spain       4.404372             7
27   Switzerland       3.526099            15
28       Tunisia       2.892744            30
29           USA       3.402359            16
30       Uruguay       3.197917            14
31         Wales       2.300357            19